<div class="card mt-5 ">
    <div class="card-body">
        <h1 class="card-title text-center animated fadeIn fast">SOBRE COMIC APP</h1>
        <hr>
        <p class="card-text animated fadeIn">
            Este es un proyecto de practica hecho por Esteban Galvis con el fin de aprender Angular.<br>
            En este se aplican conocimientos como:
        </p>
        <ul class="animated fadeIn">
            <li>Bootstrap</li>
            <li>Rutas</li>
            <li>Servisios</li>
            <li>HttpClient</li>
            <li>Uso de Angular CLI</li>
        </ul>
        <p class="animated fadeIn">Estepero le sea util a Esteban del futuro para recoradar conocimientos adquiridos en este curso.</p>
    </div>
</div>
